<!DOCTYPE html>
<html ng-app="scoreApp">
  <head>
    <title>Charlie Scorecard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="custom.css" type="text/css" media="screen">
	<style type="text/css">

		.selected {
				border-style: solid;
				border-color: #000000;
				border-width: 2px;
				background-color: #ffffff;
		}
		.nav-pills.pillview > li > a {
			font-size: 1.0em ;
			padding: 2px 8px 2px;
			margin-top: 8px;
			margin-right: 8px;
			background-color: #c8c8f0;
		}
		.nav-pills.pillview > li > a:hover,
		.nav-pills.pillview > li.active > a {
			background-color: #6464a3;
		}
		.charlie-page-container {
			border-color: #c8c8f0;
			border-style: solid;
			border-width: 2px;
			padding: 8px;
		}
		.simple-table-container {
			border-color: #c8c8f0;
			border-style: solid;
			border-width: 1px;
			background-color: #f0f0f0;
		}

		

    </style>
	<script src="js/jquery-2.1.4.js"></script>
	<script src="bootstrap/js/bootstrap.js"></script>
	<script src="angular-1.4.6/angular.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js" type="text/javascript"></script>
	<script src="js/app.js"></script>
	<script src="js/browse.js"></script>
	<script src="js/settings.js"></script>
	<script type="text/javascript">
	
	$( document ).ready(function() {
		showScores();
		$("#rootwizard").bootstrapWizard();
	});

	
	scoreApp.controller("loginController", function($scope,$http) {
		$http.get("welcomecontroller").success(function (response) {
			$("#login-menu").replaceWith( response );
		});
	});

	scoreApp.controller('trackedController', function($scope,$http) {
		$http.get("processrequests"+"?request-id=get-tracked-routes").success(function (response) {
			$scope.trackedroutes = response;
            $scope.selectedRow = 0;
            $scope.selectRoute(0, $scope.trackedroutes[0].mode_name, $scope.trackedroutes[0].route_id );
		});
        $scope.selectRoute = function(row, mode, route) {
            $scope.selectedRow = row;
            $("#route-title").text(mode + " " + route);
		};
	});

	scoreApp.controller('fetcherController', function($scope,$http) {
		$http.get("managefetcher"+"?request-id=get-fetcher-status").success(function (response) {
			$scope.fetchingroutes = response;
		});
		$scope.updateTableFetchLog = function ( ) {
//			alert("updateFetchLogTable");
			$http.get("managefetcher"+"?request-id=get-fetcher-status").success(function (response) {
				$scope.fetchingroutes = response;
				$scope.tableParams.reload();
			});
		}
	});

	function showScores( ) {
		$("#containerScorecards").show();
		$("#containerBrowse").hide();
		$("#containerAbout").hide();
		$("#containerSettings").hide();

		$('#scoreView a:first').tab('show')
		return true;
	}
	function showBrowse( ) {
		$("#containerScorecards").hide();
		$("#containerBrowse").show();
		$("#containerAbout").hide();
		$("#containerSettings").hide();
		
		getTransportationModes();
		return true;
	}
	function showAbout( ) {
		$("#containerScorecards").hide();
		$("#containerBrowse").hide();
		$("#containerAbout").show();
		$("#containerSettings").hide();
		return true;
	}
	function showSettings( ) {
		$("#containerScorecards").hide();
		$("#containerBrowse").hide();
		$("#containerAbout").hide();
		$("#containerSettings").show();

		syncUI_Status();
		return true;
	}

	</script>

  </head>
  <body>
	<div class="container" >
		<div style="background-color: #FFFFFF; display: block; height: 121px;" >
			<div style="float: left;">
				<img src="images/charlie-card.jpg">
			</div>
			<div style="text-align: right; margin-right: 1cm;">
				<font face="arial" size="7" style="font-weight: bold; color:#6464a3; line-height:60px;">Charlie<br>Scorecard</font>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
		    <div class="container-fluid" style="padding-left: 0px;">
		        <div class="collapse navbar-collapse navbar-menubuilder">
		            <ul class="nav navbar-nav navbar-left">
		                <li class="active"><a data-toggle="tab" onclick="showScores()">Scorecards</a></li>
		                <li><a data-toggle="tab" onclick="showBrowse()">Browse</a></li>
		                <li><a data-toggle="tab" onclick="showAbout()">About</a></li>
		                <li><a data-toggle="tab" onclick="showSettings()">Settings</a></li>
		            </ul>
		            <div id="login-menu" ng-controller="loginController">
						<ul class="nav nav-pills navbar-right">
							<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> login</a></li>
							<li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li> 
							<li><a href="register"><span class="glyphicon glyphicon-user"></span> register</a></li> 
						</ul>
					</div>
		        </div>
		    </div>
		</div>
	</div>
	
	<div class="container" id="containerScorecards">
		<div class="clearfix">
			<div class="col-sm-3 col-md-3 col-lg-3 charlie-page-container" style="background-color: #c8c8f0">
				<div ng-controller="trackedController">			
					<table class="table">
						<tr style="color: #000000;">
							<th>Mode</th>
							<th>Route</th>
							<th>Started</th>
						</tr>
						<tr id="route-list" ng-repeat="x in trackedroutes" ng-click='selectRoute($index, x.mode_name, x.route_id)' ng-class='{selected: $index==selectedRow}' style="background-color: #dddddd;">
							<td>{{x.mode_name}}</td>
							<td>{{x.route_id}}</td>
							<td>{{x.date_started}}</td>
						</tr>			
					</table>
				</div>
			</div>

			<div id="rootwizard">
				<div class="col-sm-9 col-md-9 col-lg-9  charlie-page-container">
					<ul id="scoreView" class="nav nav-pills navbar-right pillview">
						<li><a data-toggle="tab" href="#tab1">Summary</a></li>
						<li><a data-toggle="tab" href="#tab2">Details</a></li>
						<li><a data-toggle="tab" href="#tab3">Logs</a></li>
						<li><a data-toggle="tab" href="#tab4">Realtime</a></li>
					</ul>
	
					<div id="route-title" style="font-size: 250%;"></div>
					
					<div class="tab-content">
						<div class="tab-pane" id="tab1"><img width="640" src="images/scorecard.jpg"></div>
						<div class="tab-pane" id="tab2"><img width="640" src="images/detail.jpg"></div>
						<div class="tab-pane" id="tab3"><img width="640" src="images/log.jpg"></div>
						<div class="tab-pane" id="tab4"><img width="640" src="images/realtime.jpg"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="container" id="containerBrowse">
		<div class="clearfix charlie-page-container">
			<div ng-include="'browse.html'"></div>
		</div>
	</div>
	<div class="container" id="containerAbout">
		<div class="clearfix charlie-page-container">
			<iframe name="myiframe" src="about.html" frameborder="0" width="100%" height="600px" scrolling="yes"></iframe>
		</div>
	</div>
	<div class="container" id="containerSettings">
		<div class="clearfix charlie-page-container">
			<div ng-include="'settings.html'"></div>
		</div>
	</div>

	<div class="container" id="containerSettings">
		<footer class="footer">
			<p>Copyright David Howard Sprogis &copy; 2015  All rights reserved.</p>
		</footer>
	</div>
	
  </body>
</html>
